@model JR_DB.Calificacion;
@{
    ViewData["Title"] = "EditCalificacion";
}


<body class=" " data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="header-title">
                        <h4 class="card-title">Modificar rango de calificacion</h4>
                    </div>
                    <div class="card-body">
                         <form asp-action="EditCalificacion">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="IdCalificacion"/>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <label asp-for="LimiteInferior" class="control-label"></label>
                                    <input asp-for="LimiteInferior" type="number" class="form-control" />
                                    <span asp-validation-for="LimiteInferior" class="text-danger"></span>
                                </div>

                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <label asp-for="LimiteSuperior" class="control-label"></label>
                                    <input asp-for="LimiteSuperior" type="number" class="form-control" />
                                    <span asp-validation-for="LimiteSuperior" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <input type="submit" value="Grabar" class="btn btn-primary" />
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <a asp-action="ShowCalificacion" class="btn btn-primary">Regresar</a>
                                </div>
                            </div>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>