
@{
    ViewData["Title"] = "Pagina_Principal";
}

<div class="conatiner-fluid content-inner mt-5 py-0">
            <div class="row">
                <div class="col-md-12 col-lg-10">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card banner">
                                <div class="card-body ">
                                    <div class="row justify-content-center align-items-center banner-container">
                                        <div class="col-lg-12 banner-item">
                                            <div class="banner-text">
                                                <h1 class="fw-bold mb-4">
                                                    Hello to <span class="text-secondary"> Reading Journal!</span>
                                                </h1>
                                            </div>
                                            <div class="row">
                                             <p class="mb-4"> Ver tu meta y tu progreso </p>
                                             <button type="button" class="btn btn-primary" href="/Goal/ValidacionCredencialesG">Ver</button>
                                             <br />
                                             <p class="mb-4"> Este es tu rango de calificaciones </p>
                                             <button type="button" class="btn btn-primary" href="/Calificacion/ShowGoal">Ver</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                           <div class="card banner">
                              <div class="card-body ">
                                  <div class="row justify-content-center align-items-center banner-container">
                                    <div class="col-lg-12 banner-item">
                                    <div class="banner-text">
                                        <h4 class="fw-bold mb-4">
                                            Meta de tu <span class="text-secondary"> Reading Journal!</span>
                                        </h4>
                                    </div>
                                      <div class="row">
                                        <div class="col-lg-4 banner-item">
                                            <p class="mb-4"> Crea tu meta </p>
                                            <button type="button" class="btn btn-primary" href="/Goal/ValidacionCredencialesG">Create</button>
                                        </div>
                                        <div class="col-lg-4 banner-item">
                                            <p class="mb-4"> Edita tu meta </p>
                                            <button type="button" class="btn btn-primary">Edit</button>
                                        </div>
                                        <div class="col-lg-4 banner-item">
                                            <p class="mb-4"> Elimina tu meta </p>
                                            <button type="button" class="btn btn-primary">Delete</button>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                           </div>
                           </div>
                       </div>

                <div class="col-md-12">
                    <div class="card banner">
                        <div class="card-body ">
                            <div class="row justify-content-center align-items-center banner-container">
                                <div class="col-lg-12 banner-item">
                                    <div class="banner-text">
                                        <h4 class="fw-bold mb-4">
                                            Calificacion de tu <span class="text-secondary"> Reading Journal!</span>
                                        </h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 banner-item">
                                            <p class="mb-4"> Crea tu calificacion </p>
                                            <button type="button" class="btn btn-primary" href="/Calificacion/ValidacionCredencialesC">Create</button>
                                        </div>
                                        <div class="col-lg-4 banner-item">
                                            <p class="mb-4"> Edita tu calificacion </p>
                                            <button type="button" class="btn btn-primary">Edit</button>
                                        </div>
                                        <div class="col-lg-4 banner-item">
                                            <p class="mb-4"> Elimina tu calificacion </p>
                                            <button type="button" class="btn btn-primary">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
</div>

