@model JR_DB.Reto;
@{
    ViewData["Title"] = "ObtenerReto";
}

<div class="conatiner-fluid content-inner mt-5 py-0">
            <div class="row">
                <div class="col-md-12 col-lg-10">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card banner">
                                <div class="card-body ">
                                    <div class="row justify-content-center align-items-center banner-container">
                                        <div class="col-lg-12 banner-item">
                                            <div class="banner-text">
                                                <h1 class="fw-bold mb-4">
                                                     <span class="text-secondary"> RETO ALEATORIO  </span>
                                                </h1>
                                            </div>
                                            <div class="row">
                                             <p class="mb-4"> Tu reto es: </p>
                                             <h3> @Model.NombreReto </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                           <div class="card banner">
                              <div class="card-body ">
                                  <div class="row justify-content-center align-items-center banner-container">
                                    <div class="col-lg-12 banner-item">
                                      <div class="row">
                                        <div class="col-lg-4 banner-item">
                                            <p class="mb-4"> Aceptar el reto </p>
                                            <div class="d-flex justify-content-center">
                                                <a asp-action="CreateReto" class="btn btn-primary">Aceptar</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 banner-item">
                                            <p class="mb-4"> Cancelar el reto </p>
                                            <form asp-action="ShowRetos">
                                               <div class="d-flex justify-content-center">
                                                    <a asp-action="ShowRetos" class="btn btn-primary">Cancelar</a>  
                                               </div>
                                             </form>
                                        </div>
                                        <div class="col-lg-4 banner-item">
                                            <p class="mb-4"> Cambiar de reto </p>
                                             <form asp-action="ObtenerReto">
                                                <div class="d-flex justify-content-center">
                                                    <a asp-action="ObtenerReto"  class="btn btn-primary">Cambiar</a>
                                                </div>
                                             </form>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                           </div>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
</div>

