@model JR_DB.User;
@{
    ViewData["Title"] = "EditUser";
}


<body class=" " data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="header-title">
                        <h4 class="card-title">Modificar Usuario</h4>
                    </div>
                    <div class="card-body">
                         <form asp-action="EditUser">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="IdUser"/>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <label asp-for="FullName" class="control-label"></label>
                                    <input asp-for="FullName" class="form-control" />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" type="email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <label asp-for="NumberPhone" class="control-label"></label>
                                    <input asp-for="NumberPhone" class="form-control" />
                                    <span asp-validation-for="NumberPhone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" type="password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <input type="submit" value="Grabar" class="btn btn-primary" />
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <a asp-action="User_Profile" class="btn btn-primary">Regresar</a>
                                </div>
                            </div>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>