@model JR_DB.Book

@{
    ViewData["Title"] = "CreateBook_Buy";
}

<body class=" " data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="header-title">
                        <h4 class="card-title">Agregar Libro</h4>
                    </div>
                    <div class="card-body">
                        <form asp-action="CreateBook_Buy">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <label asp-for="NameBook" class="control-label">Nombre de Libro</label>
                                    <input asp-for="NameBook" class="form-control" />
                                    <span asp-validation-for="NameBook" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <label asp-for="AuthorBook" class="control-label">Nombre de Autor</label>
                                    <input asp-for="AuthorBook" class="form-control" />
                                    <span asp-validation-for="AuthorBook" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <label asp-for="BookPublish" class="control-label">Fecha de publicacion</label>
                                    <input asp-for="BookPublish" type="date" class="form-control" />
                                    <span asp-validation-for="BookPublish" class="text-danger"></span>
                                </div>
                            </div>
                            <h5>@ViewBag.BookCreate</h5>
                            <div class="d-flex justify-content-center">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <button type="submit" class="btn btn-primary">Agregar</button>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <a asp-action="Buy_List" class="btn btn-primary">Regresar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>