@model JR_DB.Book

@{
    ViewData["Title"] = "EditBookP";
}


<body class=" " data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="header-title">
                        <h4 class="card-title">Modificar Libro</h4>
                    </div>
                    <div class="card-body">
                        <form asp-action="EditBookP">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdBook" />
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                 <label asp-for="NameBook" class="control-label"></label>
                                    <input asp-for="NameBook" class="form-control" />
                                    <span asp-validation-for="NameBook" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                 <label asp-for="AuthorBook" class="control-label"></label>
                                    <input asp-for="AuthorBook" class="form-control" />
                                    <span asp-validation-for="AuthorBook" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                 <label asp-for="BookPublish" class="control-label"></label>
                                    <input asp-for="BookPublish" type="date" class="form-control" />
                                    <span asp-validation-for="BookPublish" class="text-danger"></span>
                            </div>
                        </div>
                         <input type="hidden" asp-for="IdCategorie" />
                         <input type="hidden" asp-for="IdUser" />
                            <input type="hidden" asp-for="Calificacion" />
                            <input type="hidden" asp-for="DateBook" />
                            <div class="d-flex justify-content-center">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <button type="submit" class="btn btn-primary">Grabar</button>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <a asp-action="ToDo_List" class="btn btn-primary">Regresar</a>
                                </div>
                            </div>
                      </form> 
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>